# System files
.DS_Store
Thumbs.db

# Environment and sensitive files
.env
*.env
*.pem
*.key

# Git-related files
.git
.gitignore

# Docker files
../Dockerfile
docker-compose.yml

# Log files
*.log

# Build directories or compilation outputs
dist/
build/